// 20V - RESULTS

.results-list-header {
	padding: 10px 30px 60px;

	.back-button {
		width: 20px;
		height: 30px;
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		
		svg {
			* {
				fill: #FFFFFF;
			}
		}
	}

	.header-logo {
		width: 73px;
		height: 30px;
		display: inline-block;
		vertical-align: top;
	}
}

.results-list {
	position: relative;
	width: 75%;

	.main-result {
		position: relative;
		width: 50%;
		
		.track-number {
			@include transition(0.2s, all);
			@include border-radius();
			width: 60px;
			height: 60px;
			display: block;
			position: absolute;
			top: 0;
			left: 30px;
			font-family: $font-passion;
			font-size: 40px;
			font-weight: 700;
			line-height: 56px;
			text-align: center;
			color: $color-two;
			border: 2px solid #FFFFFF;
			background-color: #FFFFFF;
			margin-left: -10px;
		}
		
		.track-play-icon {
			@include transition(0.4s, all, ease-out);
			@include border-radius();
			width: 60px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 20px;
			opacity: 0;

			svg {
				@include border-radius();
				overflow: hidden;
				width: 60px;
				height: 60px;

				* {
					@include transition(0.4s, all, ease-out);
					-webkit-transform: translate( -40px, 0 );
					transform: translate( -40px, 0 );
				}
			}
		}
		
		.track-name {
			font-family: $font-passion;
			font-size: 40px;
			font-weight: 700;
			letter-spacing: -0.02em;
			line-height: 25px;
			text-transform: uppercase;
			display: block;
			padding-left: 100px;
			margin: 0;
			padding-top: 7px;
		}
		
		.track-artist {
			font-size: 25px;
			font-weight: 400;
			letter-spacing: -0.02em;
			line-height: 28px;
			display: block;
			padding-left: 100px;
			margin: 0;
			text-transform: uppercase;
		}

		&:hover {
			.track-number {
				border: 2px solid #FFFFFF;
				background-color: transparent;
				color: transparentize( $color-two, 1 );
			}

			.track-play-icon {
				opacity: 1;

				svg {
					* {
						-webkit-transform: translate( 0, 0 );
						transform: translate( 0, 0 );
					}
				}
			}
		}
	}

	.playlist-trigger {
		@include transition();
		border: none;
		background-color: #FFFFFF;
		position: absolute;
		left: 50%;
		top: 0;
		font-family: $font-open;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: -0.03em;
		line-height: 20px;
		padding: 0 24px;
		color: $color-two;
		height: 40px;
		box-shadow: 2px 2px rgba(0,0,0,0.2);
		
		&:before {
			content: '';
			border: 42px solid transparent;
			border-top-color: rgba(0,0,0,0.2);
			border-left-width: 0;
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: -44px;
		}

		&:after {
			content: '';
			border: 40px solid transparent;
			border-top-color: #FFFFFF;
			border-left-width: 0;
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: -40px;
		}
		
		&:hover {
			color: $color-one;
		}
	}

	ul {
		list-style: none;
		list-style-position: inside;
		padding: 30px 30px 0 0;
		margin: 30px 0 0 30px;
		width: 100%;
		border-top: 1px solid transparentize( #FFFFFF, 0.5 );
		padding-bottom: 150px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;

		.single-track {
			@include transition();
			list-style: none;
			list-style-position: inside;
			padding: 0;
			margin: 0 0 20px;
			position: relative;
			white-space: nowrap;
			cursor: pointer;
			
			.track-number {
				@include transition(0.2s, all);
				@include border-radius();
				width: 40px;
				height: 40px;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 20px;
				font-weight: 300;
				line-height: 36px;
				letter-spacing: -0.1em;
				text-align: center;
				color: $color-two;
				border: 2px solid #FFFFFF;
				background-color: #FFFFFF;
			}
			
			.track-play-icon {
				@include transition(0.4s, all, ease-out);
				@include border-radius();
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				
				svg {
					@include border-radius();
					overflow: hidden;

					* {
						@include transition(0.4s, all, ease-out);
						-webkit-transform: translate( -40px, 0 );
						transform: translate( -40px, 0 );
					}
				}
			}
			
			.track-name {
				font-size: 18px;
				font-weight: 700;
				letter-spacing: -0.03em;
				line-height: 18px;
				text-transform: uppercase;
				padding: 2px 0 2px 55px;
				display: block;
				
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-right: 5px;
				margin: 0;
			}
			
			.track-artist {
				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.02em;
				line-height: 16px;
				display: block;
				opacity: 0.6;
				padding-left: 55px;
				margin: 0;
			}
			
			&:hover {
				.track-number {
					border: 2px solid #FFFFFF;
					background-color: transparent;
					color: transparentize( $color-two, 1 );
				}

				.track-play-icon {
					opacity: 1;

					svg {
						* {
							-webkit-transform: translate( 0, 0 );
							transform: translate( 0, 0 );
						}
					}
				}
			}
		}
	}
}