/*
	Youtube Playlist Player Styles
	Repo: https://github.com/hAPPckathon/youtube-playlist-player
	Version: 1.0
*/


// FONTS
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');


// FONTS
$font-passion: 'Passion One';
$font-open: 'Open Sans';


// COLOURS
$color-one: #3460F2;
$color-two: #1BD27F;


// IMPORTS
@import 'reset';
@import 'helpers';
@import '../src/components/Footer/index';
@import '../src/components/Header/index';
@import '../src/components/PlayerManager/index';
@import '../src/components/Search/index';
@import '../src/components/Share/index';


// GENERAL
* {
	outline: none;
	-webkit-appearance: none;
}

html {
	overflow: hidden;
	@include simple-gradient( -45deg, $color-one, $color-two );
}

body {
	overflow: hidden;
}

html,
body {
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-smooth: always;
	width: 100%;
	height: 100%;
	font-family: $font-open;
	font-weight: 600;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: -0.04em;
	color: #FFFFFF;

	@media (max-width: 740px) and (orientation: landscape){
		overflow: visible;
		height: auto;
		min-height: 100%;
	}
}

#appContainer {
	height: 100%;

	.app-inner-wrapper {
		height: 100%;
	}
}


// HOME
.home-wrapper {
	height: 100%;
	width: 100%;
	display: table;
	position: relative;

	.home-body {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		vertical-align: top;
		padding-top: 100px;

		.intro-logo {
			margin-bottom: 30px;
			width: 170px;
			height: 70px;

			@media (max-width: 600px){
				width: 150px;
				height: (150*70px)/170;
			}

			@media (max-width: 740px) and (orientation: landscape){
				width: 100px;
				height: (100*70px)/170;
			}

			@media (max-width: 400px){
				width: 110px;
				height: (110*70px)/170;
			}
		}

		.intro-text {
			font-size: 30px;
			font-weight: 300;
			letter-spacing: -0.02em;
			line-height: 35px;
			width: 500px;
			margin: 0 auto;

			@media (max-width: 600px){
				width: 100%;
				padding: 0 50px;
				font-size: 26px;
				line-height: 25px;
			}

			@media (max-width: 400px){
				width: 100%;
				padding: 0 30px;
				font-size: 22px;
				line-height: 24px;
			}
		}

		@media (max-width: 740px) and (orientation: landscape){
			padding-top: 40px;
		}

		@media (max-width: 400px){
			padding-top: 40px;
		}
	}
}


//TRANSITIONS
.screen-fade-enter {
	opacity: 0.01;
}

.screen-fade-enter.screen-fade-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.screen-fade-leave {
	opacity: 1;
}

.screen-fade-leave.screen-fade-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.screen-fade-appear {
	opacity: 0.01;
}

.screen-fade-appear.screen-fade-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}


// LOADING MESSAGE
.AppLoading {
	@include border-radius();
	width: 300px;
	height: 300px;
	background-color: $color-two;
	background-image: url('/../images/20v_loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	z-index: 4;

	@media (max-width: 400px){
		width: 200px;
		height: 200px;
		background-size: 160px 160px;
		margin-top: -100px;
		margin-left: -100px;
	}
}

// ERROR MESSAGE
a.AppFail:hover,
a.AppFail:visited,
a.AppFail:link {
	color: #000;
}

.AppFail {
	@include border-radius();
	width: 300px;
	height: 300px;
	background-color: $color-two;
	background-image: url('/../images/20v_error.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	z-index: 4;
	text-decoration: none;

	.copy {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 180px;
		margin-left: -50%;
		height: 60px;
		text-align: center;
		color: #414141;

		.line1 {
			font-size: 20px;
			display: block;
			line-height: 20px;
		}

		.line2 {
			font-size: 15px;
			line-height: 20px;
		}
	}

	@media (max-width: 400px){
		width: 200px;
		height: 200px;
		background-size: 160px 160px;
		margin-top: -100px;
		margin-left: -100px;

		.copy {
			margin-top: 130px;
		}
	}
}


// VIDEO PLAYER
.playerContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
