/*
	Youtube Playlist Player Styles
	Repo: https://github.com/hAPPckathon/youtube-playlist-player
	Version: 1.0
*/


// FONTS
@import url('https://fonts.googleapis.com/css?family=Passion+One:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic');


// FONTS
$font-passion: 'Passion One';
$font-open: 'Open Sans';


// COLOURS
$color-one: #B61CD2;
$color-two: #F34233;


// IMPORTS
@import 'reset';
@import 'helpers';
@import '../../src/components/footer/Footer';
@import '../../src/components/header/Header';
@import '../../src/components/player/Player';
@import '../../src/components/results/Results';
@import '../../src/components/search/Search';


// GENERAL
* {
	outline: none;
	-webkit-appearance: none;
}

html {
	overflow: hidden;
}

body {
	overflow: scroll;
}

html,
body {
	@include simple-gradient( -45deg, $color-one, $color-two );
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-smooth: always;
	width: 100%;
	height: 100%;
	font-family: $font-open;
	font-weight: 600;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: -0.04em;
	color: #FFFFFF;
}

#appContainer {
	height: 100%;
	
	.app-inner-wrapper {
		height: 100%;
	}
}


// HOME
.home-wrapper {
	height: 100%;
	width: 100%;
	display: table;
	
	.home-body {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		
		.intro-logo {
			margin-bottom: 30px;
		}
		
		.intro-text {
			font-size: 30px;
			font-weight: 300;
			letter-spacing: -0.02em;
			line-height: 35px;
			width: 500px;
			margin: 0 auto;
		}
	}
}













// LOADING MESSAGE
.AppLoading {
	width: 100%;
	text-align: center;
}


// VIDEO PLAYER
.playerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}



// VIDEO IDENTITY
.CGBand {

	// SKEW
	&.skew {
		width: 33%;
		width: 600px;
		height: 100%;
		position: absolute;
		z-index: 10;
	
		.background {
			@include transition( 0.8s, all, ease-in-out );
			@include backface-visibility-fix();
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0.9;
			margin-top: -110px;
			margin-left: -800px;
			height: 120%;
			width: 120%;
			box-shadow: 0 0 100px 40px rgba(0,0,0,0.3);

			-webkit-animation: background 12s infinite linear;
			animation: background 12s infinite linear;
			
			&.gradient-1 {
				@include gradient-background( #02e8d4, #057ff2 );
			}

			&.gradient-2 {
				@include gradient-background( #cc0a65, #bc1d0c );
			}

			&.gradient-3 {
				@include gradient-background( #0acc60, #0cb9bc );
			}

			&.gradient-4 {
				@include gradient-background( #6a0acc, #bc0cb0 );
			}

			&.gradient-5 {
				@include gradient-background( #0acc59, #a2ee05 );
			}
		}

		.content-wrapper {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;

			.upper-row {
				display: table;
				height: 50%;
				width: 100%;
				padding: 0 150px 0 50px;
			}

			.bottom-row {
				display: table;
				height: 50%;
				width: 75%;
				padding: 0 150px 0 50px;
			}
			
			h1 {
				// OUT ANIMATION
				@include transition( 0.2s, all, ease-in-out );
				@include transition-delay( 0 );
				@include backface-visibility-fix();
				@include transform-3d( 1000px, '-100%, -100px, 300px' );
				font-family: $font-passion;
				font-weight: 700;
				font-size: 90px;
				line-height: 70px;
				text-transform: uppercase;
				letter-spacing: -0.02em;
				color: #FFFFFF;
				margin: 0;
				padding-bottom: 45px;
				display: table-cell;
				vertical-align: bottom;
				position: relative;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				
				&:after {
					@include transition( 0.5s, all, ease-in-out );
					@include transition-delay( 1.5s );
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 4px;
					background-color: #FFFFFF;
					opacity: 0.5;
				}
			}

			h2 {
				// OUT ANIMATION
				@include transition( 0.2s, all, ease-in-out );
				@include transition-delay( 0 );
				@include backface-visibility-fix();
				@include transform-3d( 1000px, '-100%, 0, 500px' );
				font-family: $font-open;
				font-weight: 300;
				font-size: 44px;
				line-height: 40px;
				text-transform: uppercase;
				letter-spacing: -0.02em;
				color: #FFFFFF;
				margin: 0;
				display: table-cell;
				vertical-align: middle;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				-webkit-transform-origin: center center;
				transform-origin: center center;
			}
		}

		&.in {
			.background {
				margin-left: -200px;
			}

			.content-wrapper {

				.upper-row {
					h1 {
						// IN ANIMATION
						@include transition( 1s, all, ease-in-out );
						@include transform-3d( 1000px, '0, 0, 0' );
						@include transition-delay( 0.5s );
						
						&:after {
							width: 100px;
						}
					}
				}

				.bottom-row {
					h2 {
						// IN ANIMATION
						@include transition( 1s, all, ease-in-out );
						@include transform-3d( 1000px, '0, 0, 0' );
						@include transition-delay( 1s );
					}
				}
			}
		}
	}
}

@include rotate-keyframes-animation( background, -5deg, 5deg );



// VIDEO TRANSITIONS