/* 20V - PLAYER */

iframe {
}

.iphone {
    .custom-player-controls-wrapper {
        display: none
    }
}

.PlayerControls-iphone {
	position: absolute;
	width: 100%;
	z-index: 10;
	left: 0;
	top: 0;
	height: 35px;
	padding: 10px;
	@include simple-gradient( -45deg, $color-one, $color-two );

	.video-close {
		float: left;
		font-size: 30px;
		
		a {
			color: #FFFFFF;
		}
	}

	.video-next {
		float: right;

		a {
			color: #FFFFFF;
			text-decoration: none;
			
			i {
				padding-left: 5px;
			}
		}
	}

	.iphone-disclaimer {
		width: 100%;
		position: absolute;
		top: 35px;
		left: 0;
		text-align: center;
		background-color: transparentize( #000000, 0.4 );
		color: #FFFFFF;
		padding: 10px 50px;
		font-size: 13px;
	}
}

.PlayerControls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;

	&.custom-player-controls-wrapper {
		@include transition();
		opacity: 0;

		&.in {
			opacity: 1;
		}
	}

	.video-close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 10px;
		right: 10px;
		text-align: center;
		line-height: 50px;

		a {
			font-size: 70px;
			color: #FFFFFF;
			text-decoration: none;
		}
	}

	.video-next {
		@include border-radius(5px 0 0 5px);
		@include simple-gradient( -45deg, $color-one, $color-two );
		box-shadow: 0 0 20px transparentize( #000000, 0.6 );
		height: 60px;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -30px;
		text-align: right;
		line-height: 60px;
		padding: 0 20px;

		a {
			font-size: 24px;
			color: #FFFFFF;
			text-decoration: none;

			.fa {
				font-size: 24px;
				line-height: 60px;
				margin-left: -5px;
				padding-left: 10px;
			}
		}

		@media (max-width: 800px){
			span {
				display: none;
			}
		}
	}

	.video-playback-controls {
		.video-backward {
			@include border-radius();
			box-sizing: border-box;
			width: 60px;
			height: 60px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -110px;
			margin-top: -30px;
			text-align: center;
			box-shadow: 0 0 20px transparentize( #000000, 0.6 );
			@include simple-gradient( -45deg, $color-one, $color-two );

			.fa {
				color: #FFFFFF;
				font-size: 24px;
				line-height: 60px;
				margin-left: -5px;
			}
		}

		.video-forward {
			@include border-radius();
			box-sizing: border-box;
			width: 60px;
			height: 60px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: 50px;
			margin-top: -30px;
			text-align: center;
			box-shadow: 0 0 20px transparentize( #000000, 0.6 );
			@include simple-gradient( -45deg, $color-one, $color-two );

			.fa {
				color: #FFFFFF;
				font-size: 24px;
				line-height: 60px;
				margin-left: 5px;
			}
		}

		.video-play-pause {
			@include border-radius();
			box-sizing: border-box;
			width: 80px;
			height: 80px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -40px;
			margin-top: -40px;
			text-align: center;
			box-shadow: 0 0 20px transparentize( #000000, 0.6 );
			@include simple-gradient( -45deg, $color-one, $color-two );

			.fa {
				color: #FFFFFF;
				font-size: 34px;
				line-height: 80px;

				&.fa-play {
					padding-left: 4px;
				}
			}
		}
	}

	.upper-options-panel {
		display: none;
	}
}


/* VIDEO INFORMATION */
.CGBand {

	/* SKEW */
	&.skew {
		width: 33%;
		width: 600px;
		height: 100%;
		position: absolute;
		z-index: 10;

		@media (max-width: 800px){
			width: 100%;
			height: 30%;
			top: auto;
			bottom: 0;
		}

		@media (max-width: 740px) and (orientation: landscape){
			height: 80px;
		}

		@media (max-width: 400px){
			height: 150px;
		}

		.background {
			@include transition( 0.8s, all, ease-in-out );
			@include backface-visibility-fix();
			@include simple-gradient( -45deg, $color-one, $color-two );
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0.9;
			margin-top: -110px;
			margin-left: -800px;
			height: 120%;
			width: 120%;
			box-shadow: 0 0 100px 40px rgba(0,0,0,0.3);

			-webkit-animation: background-rotate 12s infinite linear;
			animation: background-rotate 12s infinite linear;

			@media (max-width: 800px){
				-webkit-animation: background-rotate 20s infinite linear;
				animation: background-rotate 20s infinite linear;
				margin-top: 0;
				margin-left: -1000px;
			}

			@media (max-width: 740px) and (orientation: landscape){
				-webkit-animation: background-rotate-wide 10s infinite linear;
				animation: background-rotate-wide 10s infinite linear;
				margin-left: -900px;
				height: 150%;
			}

			@media (max-width: 400px){
				margin-left: -500px;
			}
		}

		.content-wrapper {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;

			.upper-row {
				display: table;
				height: 50%;
				width: 100%;
				padding: 0 150px 0 50px;

				@media (max-width: 800px){
					padding: 20px;
				}

				@media (max-width: 740px) and (orientation: landscape){
					padding: 5px 20px;
				}
			}

			.bottom-row {
				display: table;
				height: 50%;
				width: 75%;
				padding: 0 150px 0 50px;

				@media (max-width: 800px){
					width: 100%;
					padding: 20px;
				}

				@media (max-width: 740px) and (orientation: landscape){
					padding: 0 20px;
				}

				@media (max-width: 400px){
					padding: 0 20px;
				}
			}

			h1 {
				/* OUT ANIMATION */
				@include transition( 0.2s, all, ease-in-out );
				@include transition-delay( 0 );
				@include backface-visibility-fix();
				@include transform-3d( 1000px, '-100%, -100px, 300px' );
				font-family: $font-passion;
				font-weight: 700;
				font-size: 90px;
				line-height: 70px;
				text-transform: uppercase;
				letter-spacing: -0.02em;
				color: #FFFFFF;
				margin: 0;
				padding-bottom: 45px;
				display: table-cell;
				vertical-align: bottom;
				position: relative;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

				@media (max-width: 800px){
					font-size: 60px;
					line-height: 45px;
					padding-bottom: 40px;
				}

				@media (max-width: 740px) and (orientation: landscape){
					font-size: 30px;
					line-height: 30px;
					padding-bottom: 0;
				}

				@media (max-width: 400px){
					font-size: 30px;
					line-height: 35px;
					padding-bottom: 20px;
				}

				&:after {
					@include transition( 0.5s, all, ease-in-out );
					@include transition-delay( 1.5s );
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0;
					height: 4px;
					background-color: #FFFFFF;
					opacity: 0.5;

					@media (max-width: 800px){
						height: 2px;
					}

					@media (max-width: 740px) and (orientation: landscape){
						display: none;
					}
				}
			}

			h2 {
				/* OUT ANIMATION */
				@include transition( 0.2s, all, ease-in-out );
				@include transition-delay( 0 );
				@include backface-visibility-fix();
				@include transform-3d( 1000px, '-100%, 0, 500px' );
				font-family: $font-open;
				font-weight: 300;
				font-size: 44px;
				line-height: 40px;
				text-transform: uppercase;
				letter-spacing: -0.02em;
				color: #FFFFFF;
				margin: 0;
				display: table-cell;
				vertical-align: middle;
				text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
				-webkit-transform-origin: center center;
				transform-origin: center center;

				@media (max-width: 800px){
					font-size: 30px;
					line-height: 30px;
					vertical-align: top;
				}

				@media (max-width: 740px) and (orientation: landscape){
					font-size: 20px;
					line-height: 22px;
					vertical-align: top;
				}

				@media (max-width: 400px){
					font-size: 20px;
					line-height: 22px;
					vertical-align: top;
				}
			}
		}

		&.in {
			.background {
				margin-left: -200px;

				@media (max-width: 800px){
					margin-left: -100px;
					top: -20px;
				}

				@media (max-width: 740px) and (orientation: landscape){
					margin-left: -10px;
				}

				@media (max-width: 400px){
					margin-left: -50px;
				}
			}

			.content-wrapper {

				.upper-row {
					h1 {
						/* IN ANIMATION */
						@include transition( 1s, all, ease-in-out );
						@include transform-3d( 1000px, '0, 0, 0' );
						@include transition-delay( 0.5s );

						&:after {
							width: 100px;
						}
					}
				}

				.bottom-row {
					h2 {
						/* IN ANIMATION */
						@include transition( 1s, all, ease-in-out );
						@include transform-3d( 1000px, '0, 0, 0' );
						@include transition-delay( 1s );
					}
				}
			}
		}
	}
}

@include rotate-keyframes-animation( 'background-rotate', -5deg, 5deg );
@include rotate-keyframes-animation( 'background-rotate-wide', -2deg, 2deg );
