// 20V - PLAYER

.PlayerControls {
    position: absolute;
    width: 100%;
    heigh: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    &.custom-player-controls-wrapper {
        opacity: 0;
        transition: opacity 500ms ease-in;

        &.in {
            opacity: 1;
        }
    }

    .upper-options-panel {
        position: absolute;
        top: 35px;
        right: 0;
        height: 80px;
        width: 150px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
        background-color: black;
        background-image:
                linear-gradient(
                    to top, 
                    #F34233, #B71CD1
                );

        
        .video-title {
            display: none;
            position: absolute;
            left: 10px;
            height: 100%;
            width: 70%;
            /*background-color: blue;*/
            font-family: "Passion One";
            font-size: 40px;
            font-weight: 700;
            line-height: 56px;
            text-align: left;
        }

        .show-list-trigger {

        }

        .upper-right-trigger {
            padding: 10px;
            /*background-color: blue;*/
            /*border: 1px solid red;*/
            float: right;
            height: 100%;
            vertical-align: middle;

            a {
                transition: all 250ms ease-in;
                text-decoration: none;
                padding: 15px;
                display: inline-block;
                /*background-color: blue;*/
                /*border: 1px solid red;*/
                border-radius: 15%;

                color: #FFF;
                opacity: 0.7;
                &:hover {
                    background-color: #B71CD1;
                    opacity: 1;
                }
            }

            i {
                font-size: 24px;
            }
        }

    }

    .lower-options-panel {
        bottom: 35px;
        height: 80px;
        width: 100%;
        position: absolute;
        /*background-color: green;*/

        ul {
            background-image:
                linear-gradient(
                    to top, 
                    #F34233, #B71CD1
                );
            position: relative;
            list-style: none;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            /*border: 1px solid black;*/
            height: 70px;
            vertical-align: middle;
            border-radius: 10px;
            display: block;
        }

        li {
            height: 100%;
            padding-top: 10px;
            &.left {
                position: absolute;
                left: 10%;
                top: 0;
                vertical-align: middle;
            }

            &.middle {
                width: 45px;
                margin: 0 auto;
            }

            &.right {
                position: absolute;
                right: 10%;
                top: 0;
            }

            a {
                transition: all 250ms ease-in;
                padding: 10px;
                /*background-color: blue;*/
                /*border: 1px solid red;*/
                font-size: 30px;
                border-radius: 15%;
                display: inline-block;
                color: #FFF;
                opacity: 0.7;
                &:hover {
                    background-color: #F34233;
                    opacity: 1;
                }
            }
        }
    }
}